# Options +FollowSymLinks
# RewriteEngine On
# RewriteBase /donationDatabase/

# make /html folder and .php extension in path not required
# RewriteRule ^([^.]+)/?$ html/$1.php [L]

# block access to *.sql, *.ini, *.htaccess files
<Files ~ ".*\.(mysql|sql|ini|htaccess)$">
    deny from all
</Files>

